# Server
PORT=3000

# Storage mode: json (default) | mysql
STORAGE=json

# MySQL (hanya jika STORAGE=mysql)
MYSQL_URL=
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=db_timepro
